/* FUENTE SERRANO & MORENATE: font-family: 'Lora', serif; */
@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');
/* Fuente texto sin destacar: font-family: 'Raleway', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');


/* RESET CSS */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

$tipografiaPrincipal:'Lora', rgb(25, 25, 202);
$tipografiaPrincipal: 20px;
$tipografiaSecundario: rgb(54, 54, 54);

@import "header";
@import "index.scss";
@import "contacto.scss";
@import "rrhh";
@import "maps";
@import "extends";
@import "mixins";





body{
    background-color: rgb(255,255,255);
    font-family: 'Raleway', sans-serif;
}


p{
    font-size: 1rem;
    padding: 10px;
    text-align:justify;
}
